node_modules
.next
.turbo
.vercel

# Playwright
playwright-report
test-results
.playwright

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.checkout-debug.log

# OS
.DS_Store


.vercel
